body {
  margin: 0;
}

/* Assuming the name of the Room's container is roomContainer */
#roomContainer {
  width: 100vw;
  height: calc(100vh - 90px);
  background-color: #ddd;
  position: relative;
}
#layoutcontrol {
  background-color: black;
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
}
.buttons {
  width: 50px;
  height: 50px;
  margin: 20px 10px !important;
  border: 1px solid white;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#roomContainer > .OT_publisher {
  bottom: 25px;
  right: 25px;
  position: absolute;
  border-radius: 10px;
}
#roomContainer > .OT_screenshare {
  top: 25px;
  left: 25px;
  position: absolute;
  border-radius: 10px;
}
