body {
  margin: 0;
}

/* Assuming the name of the Room's container is roomContainer */
#roomContainer {
  width: 100vw;
  height: calc(100vh - 90px);
  background-color: #ddd;
  position: relative;
}
#roomContainer > .OT_publisher {
  bottom: 25px;
  right: 25px;
  position: absolute;
  border-radius: 10px;
}
#roomContainer > .OT_screenshare {
  top: 25px;
  left: 25px;
  position: absolute;
  border-radius: 10px;
}
