.idea
.vscode
.git
.nyc_output

coverage
__mocks__
__tests__
.babelrc

mock-server
node_modules
build

.dockerignore
*.env*
.eslintrc
.eslintcache
.gitignore
.gitlab-ci.yml
.github
.prettier
CHANGELOG.md
Dockerfile
README.md
*.log
.nvmrc
.npmrc
CONTRIBUTING.md
docs
