# ----------------

# This file is an example of the .env file that is needed in order for certain
# features of this application to function properly. Use this file as a template
# to create your own .env file. The application will not read the .env.example file.

# Server Env Variables

VIDEO_API_API_KEY=
VIDEO_API_API_SECRET=
SERVER_PORT=5000

# Client Env Variables

REACT_APP_PALETTE_PRIMARY=
REACT_APP_PALETTE_SECONDARY=
REACT_APP_API_URL_DEVELOPMENT=
REACT_APP_API_URL_PRODUCTION=
REACT_APP_VERSION=$npm_package_version
REACT_APP_ASSETS_PATH = "your-server-url.com"
