#flex-container {
  display: flex;
}
#layoutcontrol {
  background-color: white;
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
}
