#banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ac-copy-success {
  position: absolute;
  background-color: #131415;
  color: #fff;
  top: -45px;
  left: -28px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 6px;
  z-index: 1;
}
