.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Temporary Fixes */
#layoutContainer {
    background-color: transparent !important;
}

#roomContainer > .OT_publisher {
    bottom: 25px;
    right: 25px;
    position: absolute;
    border-radius: 10px;
    border-radius: 20px;
  }
  #roomContainer > .OT_screenshare {
    top: 25px;
    left: 25px;
    position: absolute;
    border-radius: 10px;
  }
/* Temporary Fixes */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
