.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Temporary Fixes */
#layoutContainer {
  background-color: transparent !important;
}

#roomContainer > .OT_publisher {
  bottom: 25px;
  right: 25px;
  position: absolute;
  border-radius: 20px;
  display: none;
}

#roomContainer > .OT_screenshare {
  top: 25px;
  left: 25px;
  position: absolute;
  border-radius: 10px;
}

/* .OT_root::after {
  transform: scale(-1, 1);
}
video::after {
  transform: scale(-1, 1);
} */

/* Temporary Fixes */

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(213, 15, 45, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(213, 15, 45, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(213, 15, 45, 0);
  }
}
